@font-face {
    font-family: "Bookman";
    src: url("/public/font/Bookman.ttf"), url("/public/font/bookman-regular.ttf"), url("/public/font/Bookman Bold.ttf"), url("/public/font/Bookman Italic.ttf");
} 


*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

*::-webkit-scrollbar{
    display: none;
}

*{
    scroll-behavior: smooth;
    overflow-y:scroll;
    scrollbar-width: 5px;
    -ms-overflow-style: none; 
    text-decoration: none;
    list-style: none;
    
    color: #2e5f6f; 
    /* color: rgb(45, 45, 45); */
}

html, body{
    width: auto;
    height: auto;
}

body{
    background-image: url("./../../public/assets/dandelion-clock.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    font-family: 'Bookman', 'sans-serif';
    letter-spacing: -0.5px;
}



/* ------ main ------ */
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 140px 0 0 0;
    scroll-behavior: smooth;
}

main > section{
    scroll-snap-stop: normal;
}


/* ------ header ------ */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6.5rem;
    background-color: rgb(45, 45, 45);
    position: fixed; 
    width: 100vw;
    z-index: 1;
}


/* ------ sections ------ */
section{
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    width: 90%;
    height: 100%;
    font-style:normal;
    scroll-snap-type: y proximity;
} 

section h1{
    font-size:30px;
    margin-bottom:40px;
}

section h2{
    display: flex;
    align-items:  center;
    font-size:26px;
    margin: 10px;
    padding: 20px;
}

section h3{
    padding: 20px;
    margin-bottom: 20px;
}



/* ------ articles ------ */
article{
    width: 45%;
    border:2px solid #E2C163;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 20px;
    background-color: #f0e7d6;
    border-radius: 10px;
    position: relative;
}
p{
    margin-bottom: 10px;
    padding: 10px;
    text-align:justify;
    line-height: 1.4;
}

ul{
    margin-top: 30px;
}

ul li{
    display: flex;
    font-weight: 900;
    margin: 10px;
    line-height: 1.4;
    align-items: center;
}

.tarifs{
    width: 100%;
}

article iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

img{
    display: flex;
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}




/*............. système navbar active + hamburger ................ */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;

}

.menu {
    display: flex; 
    
}

.menu.navActive{
    right: 0;
}
.menu li{
    padding: 8px;
    margin-right: 0.5rem;
}

.menu a{
    color: #9ac2ba;
    position:relative;
    padding: 0 8px;
    transition: all 0.2s; 
} 

.menu li a::after{
    content:'';
    position: absolute;
    background-color:#E2C163;
    height:3px;
    width:0;
    left:0;
    bottom:-10px;
    transition:0.3s;
} 
.menu a:hover{
    color: #E2C163;
}
.menu a:hover::after, .nav .active a::after{
    width:100%;
}

.nav .active a, .nav .active a::after{
    color: #E2C163;
}


.hamburger{
    display: none;
    position: absolute;
    right: 2rem;
    cursor: pointer;
}
.hamburger img{
    box-shadow: none;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 1024px){
    
    .menu{
        flex-direction: column;
        align-items: center;
        position:fixed;
        top: 120px;
        width: 400px;
        row-gap: 24px;
        right: -400px; 
        padding: 24px 16px;
        font-size: 18px;
        min-height:calc(100vh - 60px);
        background-color: rgb(45, 45, 45);
        transition: all 0.3s;
        opacity: 0.9;
    }
    .hamburger{
        display: block;
    }
    
    section h1{
        font-size:25px;
    }
    
    section h2{
        font-size:20px;
    }

    section h3{
        font-size:16px;
    }

    p{
        font-size: 14px;
        margin-bottom: 8px;
        padding: 8px;
    }
}

@media screen and (max-width: 390px){
        
    section{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        height: auto;
    }


    article, .tarifs{
        width: 80%;
    }

    section div, .contact div {
        width: 90%;
    }
    

    section h1{
        font-size:20px;
    }
    
    section h2{
        font-size:18px;
    }

    section h3{
        font-size:14px;
    }

    p{
        font-size: 12px;
        margin-bottom: 8px;
        padding: 8px;
    }
    ul{
        font-size: 12px;
    }
}
