@font-face {
    font-family: "Bookman";
    src: url("../../public/font/BOOKOS.TTF");
    font-weight: normal;
    font-style: normal;
} 

/* @import url("https://fontsforyou.com/fonts/b/Bookman.ttf"); */

#root {
    position:relative
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bookman', 'sans-serif';
    font-weight: normal;
    font-style: normal;
    letter-spacing: -0.5px;
}

*::-webkit-scrollbar{
    display: none;
}

*{
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color: #2e5f6f; 
    /* color: rgb(45, 45, 45); */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./../../public/assets/dandelion-clock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main{
    overflow: hidden;
    /* background-color: #f0e7d6; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 140px 0 0 0;
}


header{
    height: 8rem;
    background-color: rgb(45, 45, 45);
    /* display:flex;
    justify-content: space-between;
    align-items: center; */
    position: fixed; 
    width: 100vw;
    z-index: 1;
}
section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    /* padding: 2rem; */
    width: 80%;
    min-height: 80vh;
    height: 80vh;
    /* background-color: #f0e7d6; */
    /* background-color: #f0e7d6; */
    /* border: 2px solid #E2C163;  */
    font-style:normal;
} 
section h1{
    font-size:30px;
    font-weight:700;
    margin-bottom:50px;
}

section h2{
    font-size:26px;
    font-weight:700;
    margin: 30px 0;
}

p{
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:justify;
}

section div{
    width: 45%;
    height: 100%;
    border:2px solid #E2C163;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    background-color: #f0e7d6;
}

.contact div{
    width: 30%;
}

.contact div a {
    text-decoration: underline 1px blue;
    
}
.contact div a:hover {
    color:blue;
    font-size: 18px;
    font-weight: 700;
}




/*............. système navbar active + hamburger ................ */
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: flex; 
    
}

.menu.navActive{
    right: 0;
}
.menu li{
    padding: 8px;
    margin-right: 0.5rem;
}

.menu a{
    color: #9ac2ba;
    position:relative;
    padding: 0 8px;
    transition: all 0.2s; 
} 

.menu li a::after{
    content:'';
    position: absolute;
    background-color:#E2C163;
    height:3px;
    width:0;
    left:0;
    bottom:-10px;
    transition:0.3s;
} 
.menu a:hover{
    color: #E2C163;
}
.menu a:hover::after, .nav .active a::after{
    width:100%;
}

.nav .active a, .nav .active a::after{
    color: #E2C163;
}



.hamburger{
    display: none;
    position: absolute;
    right: 2rem;
    top: 2.5rem;
    cursor: pointer;
}



@media screen and (max-width: 1024px){
    
    .menu{
        flex-direction: column;
        align-items: center;
        position:fixed;
        top: 120px;
        width: 400px;
        row-gap: 24px;
        right: -400px; 
        padding: 24px 16px;
        font-size: 18px;
        min-height:calc(100vh - 60px);
        background-color: rgb(45, 45, 45);
        transition: all 0.3s;
        opacity: 0.9;
    }
    .hamburger{
        display: block;
    }
    
}
