@font-face {
    font-family: "Bookman";
    src: url("../../public/font/BOOKOS.TTF");
    font-weight: normal;
    font-style: normal;
} 

/* @import url("https://fontsforyou.com/fonts/b/Bookman.ttf"); */

#root {
    position:relative
}

*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bookman', 'sans-serif';
    font-weight: normal;
    font-style: normal;
}

*::-webkit-scrollbar{
    display: none;
}

*{
    overflow-y:scroll;
    scrollbar-width: none;
    -ms-overflow-style: none; 
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    color: #2e5f6f; 
    /* color: rgb(45, 45, 45); */
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main{
    overflow: hidden;
    background-image: url("./../../public/assets/dandelion-clock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-color: #f0e7d6; */
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px 0 0 0;
}

/* main::before{
    content: '';
    display: block; 
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* opacity: 0.8; */
    
/* } */ 

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    /* padding: 2rem; */
    width: 80%;
    min-height: 90vh;
    /* background-color: #f0e7d6; */
    /* background-color: #f0e7d6; */
    /* border: 2px solid #E2C163;  */
    font-style:normal;
} 
section h1{
    font-size:30px;
    font-weight:700;
    margin-bottom:50px;
}

section h2{
    font-size:26px;
    font-weight:700;
    margin: 30px 0;
}

p{
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:justify;
}

section div{
    width: 45%;
    height: 100vh;
    border:2px solid #E2C163;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    background-color: #f0e7d6;
}

.contact div{
    width: 30%;
}

.contact div a {
    text-decoration: underline 1px blue;
    
}
.contact div a:hover {
    color:blue;
    font-size: 18px;
    font-weight: 700;
}
