.nav{
    margin-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 16px;
    
}

.nav li{
    display:inline-block;
    transition: all linear 0.3s;
    padding: 8px;
    cursor: pointer;
    margin-right: 1rem;
}
.nav  a{
    color: #9ac2ba;
    position:relative;
    padding:0 10px
} 
.nav li a:after{
    content:'';
    position: absolute;
    background-color:#E2C163;
    height:3px;
    width:0;
    left:0;
    bottom:-10px;
    transition:0.3s;
} 
.nav a:hover{
    color: #E2C163;
}
.nav a:hover:after{
    width:100%;
}

.nav .active a{
    color: #E2C163;
}
.nav .active a:after{
    color: #E2C163;
    width:100%;
}

.hamburger{
    display: none;
    position: absolute;
    right: 5rem;
    top: 2.5rem;
    
}
.hamburger button{
    background-color:transparent;
    border:none;
    color:#9ac2ba;
}
.mobileMenu{
    margin-left: 0;
}



@media screen and (max-width: 1200px){
    .nav{
        position: absolute;
        top:0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.219);
        width: 100%;
        backdrop-filter: blur(7px);
        margin-left: -100%;
        margin-right:0;
    }
    
    .nav li{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    } 
    .hamburger{
        display: block;
    }
}
