.header{
    height: 7rem;
    background-color: rgb(45, 45, 45);
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    width: 100vw;
    z-index: 999;
}