.footer{
    height: 12vh;
    background-color: rgb(45, 45, 45);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.footer p{
    color: #9ac2ba;
}
.bf{
    font-size: 16px;
    margin-bottom: 10px;
}
.cp{
    font-size: 12px;
}


@media screen and (max-width: 768px){
    .bf{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .cp{
        font-size: 8px;
    }
}

@media screen and (max-width: 390px){
    .bf{
        font-size: 10px;
        margin-bottom: 10px;
    }
    .cp{
        font-size: 8px;
    }
}