.footer{
    height: 12vh;
    background-color: var(--color2);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--color1);
}
.footer p, .footer a{
    color: var(--color1);
}
.bf{
    font-size: var(--fs-16);
    margin-bottom: 10px;
}
.cp{
    font-size: var(--fs-12);
}

.footer .cp a{
    transition: 0.3s ease-in-out; 
}
.footer a:hover{ 
    font-size: var(--fs-14);
    text-decoration: underline;
    color: var(--active-color);
}


@media screen and (max-width: 768px){
    .bf{
        font-size: var(--fs-14);
        margin-bottom: 10px;
    }
    .cp{
        font-size: var(--fs-8);
    }
}

@media screen and (max-width: 390px){
    .bf{
        font-size: var(--fs-10);
        margin-bottom: 10px;
    }
    .cp{
        font-size: var(--fs-8);
    }
}