.testimonials{
  width: 100%;
}

.testimonialContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.testimonialCard{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1.5rem;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
}

.testimonialCard img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: block;
  border: 1px solid #2e5f6f;
}
.card1{
  border: 1px solid #2e5f6f;
}

.name{
  font-size: 18px;
  font-weight: 700;
}

.date{
  font-size: 12px;
}
.star{
  margin-left: 10px;
}


