.testimonials{
  width: 95%;
}

.testimonialContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  width: 90%;
  margin: auto;
  margin-top: 5%;
}

.testimonialCard{
  display: flex;
  flex-direction: column;
  width: 20rem;
  padding: 1.5rem;
  border-bottom-right-radius: 100px;
  border-top-left-radius: 100px;
  background-color:  var(--background-color2);
  color: var(--color1);
}

.testimonialCard img{
  width: 100px;
  height: 100px;
  border-radius: var(--border-radius-50pc);
  margin: 0 auto 20px;
  display: block;
  border: var(--border2);
}
.card1{
  border: var(--border2);
}

.name{
  font-size: var(--fs-18);
  font-weight: 700;
  padding-left: 0.6rem;
}

.date{
  font-size: var(--fs-12);
}
.star{
  margin-left: 10px;
}



@media screen and (max-width: 992px){
  .testimonialContainer{
    gap: 20px;
  }
  .testimonialCard{
    width: 18rem;
    padding: 1rem;
    border-bottom-right-radius: 100px;
    border-top-left-radius: 100px;
  }
  .testimonialCard img{
    width: 80px;
    height: 80px;
  }
  .name{
    font-size: var(--fs-18);
    font-weight: 700;
  }
}



@media screen and (max-width: 768px){
  .testimonials{
    width: 80%;
  }
  .testimonialContainer{
    gap: 20px;
  }
  
  .testimonialCard img{
    width: 70px;
    height: 70px;
  }
  
  .name{
    font-size: var(--fs-16);
    font-weight: 700;
  }
  
  .date{
    font-size: var(--fs-10);
  }
  .star{
    margin-left: var(--fs-8);
  }
}

@media screen and (max-width: 390px){
  .testimonials{
    width: 80%;
  }
  
}
