.upButton{
    position: fixed; 
    width: 2.3rem;
    right: 5rem;
    bottom: 2rem;
    height: 2.3rem;
    font-size: var(--fs-40);
    z-index: 1;
    cursor: pointer;
    color: var(--color1);
    background-color: transparent;
    border-color: transparent;
    border-radius: var(--border-radius-50);
}


@media screen and (max-width: 768px){
    .upButton{
        right: 1rem;
        bottom: 1rem
    }
}

